name: {{ .Name }}
prefix: ""

mgmt:
  network: clab
  ipv4-subnet: {{ .MgmtSubnet }}

topology:
  nodes:{{ range .Nodes }}
    {{ .Name }}:
      kind: {{ .Kind }}{{ if .Image }}
      image: {{ .Image }}{{ end }}{{ if .MgmtIPv4 }}
      mgmt-ipv4: {{ .MgmtIPv4 }}{{ end }}{{ end }}

  links:{{ range .Links }}
    - endpoints: [{{ range $index, $element := .Endpoints }}{{ if $index }}, {{ end }}"{{ $element }}"{{ end }}]{{ end }}
